<h3>Nieuw product in de {{category.name}}</h3>

<div mat-dialog-content>
	<mat-form-field>
		<input matInput placeholder="Productnaam" type="text" [(ngModel)]="product.name" />
	</mat-form-field>
	<br>
	<mat-form-field>
		<input matInput placeholder="Aantal" type="number" [(ngModel)]="product.numberOfThisProductStored" min="0" />
	</mat-form-field>
	<br>
	<mat-form-field>
		<input matInput placeholder="Hoeveelheid van Eenheid" type="number"  [(ngModel)]="product.amountOfUnit" min="0" >
	</mat-form-field>

	<mat-form-field>
		<mat-select [(value)]="product.unit" placeholder="Eenheid">
		  <mat-option *ngFor="let unit of units" [(value)]="unit" >
			{{unit}}
		  </mat-option>
		</mat-select>
	  </mat-form-field>
</div>
<div mat-dialog-actions>
	<button mat-button [mat-dialog-close]="product" class="mat-primary" cdkFocusInitial>Toevoegen</button>
	<button mat-button (click)="onNoClick()" class="mat-warn">Annuleren</button>
</div>