h1 {
  font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI',
    'Helvetica Neue', 'Trebuchet MS', Verdana;
  font-weight: 200;
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI',
    'Helvetica Neue', 'Trebuchet MS', Verdana;
  font-weight: 100;
  font-size: 28px;
  display: inline-block;
  margin-top: 0.3em;
  margin-bottom: 0px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 15px;
  padding-bottom: 20px;
}

.container {
  padding: 2px 16px;
}

.bottom-right {
	position: fixed !important;
	right: 1em; 
	bottom: 1em;
}

hr {
	width: 99%;
	margin-bottom: 2em;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.card-header > .seperator {
  flex-grow: 1;
}

.card-header > i {
  color: #255783;
  margin-top: 0.3em;
  font-size: x-large;
  cursor: pointer;
  float: right;
}

.add-category {
	margin-left: 1em;
	margin-right: 2em;
  float: right;
  top: -5em;
  color: #ddd;
  border-color: #aaa;
}

.add-category-icon {
	display: inline-flex;
}

.add-category-content {
	display: inline-flex;
}