<button mat-stroked-button class="mat-basic add-category" (click)="openNewCategoryDialog()">
	<i class="material-icons add-category-icon">add</i>
	<div class="add-category-content">Nieuwe Categorie</div>
</button>

<div class="card" *ngFor="let category of categories">
	<div class="container">
		<div class="card-header">
			<h2>{{category.name}}</h2>
			<div class="seperator"></div>
			<i class="material-icons edit-category-icon" (click)="openNewCategoryDialog(category)"  title="Pas categorie aan">edit</i>
			<i class="material-icons delete-category-icon" (click)="delete(category)" title="Verwijder categorie">delete</i>

		</div>

		<dx-data-grid [dataSource]="category.products" (onRowUpdated)="save()" [columnHidingEnabled]="true">
			<dxo-editing mode="form" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true" [useIcons]="true">
			</dxo-editing>

			<dxi-column dataField="name" caption="Productnaam"></dxi-column>
			<dxi-column dataField="numberOfThisProductStored" caption="Aantal"></dxi-column>
			<dxi-column dataField="amountOfUnit" caption="Hoeveelheid"></dxi-column>
			<dxi-column dataField="unit" caption="Eenheid">
				<dxo-lookup [dataSource]="units"></dxo-lookup>
			</dxi-column>
		</dx-data-grid>
	</div>
</div>


<button mat-fab (click)="save()" class="bottom-right">
	<i class="material-icons">save</i>
</button>