h1 {
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
    font-weight: 200;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
    font-weight: 100;
    font-size: 28px;
	margin-bottom: 5px;
	display: inline-block;
}

.category {
	margin-left: 5%;
	margin-right: 5%;
}

.fixed-action-btn :hover {
	cursor: pointer;
}

table {
	width: 100%;
	table-layout: fixed;
}

mat-form-field {
	margin-right: 2%;
	width: 48%;
}

.mat-column-name mat-form-field {
	width: 80%;
}

.mat-column-name {
	width: 24%;
}

.mat-column-numberOfThisProductStored {
	width: 20%;
}

.mat-column-amountOfUnit {
	width: 45%;
}

.mat-column-delete {
	width: 6%;
}

.bottom-right {
	position: fixed !important;
	right: 1em; 
	bottom: 1em;
}

.add-product {
	display: inline;
	top: -0.3em;
	margin-left: 1em;
}

.add-product-icon {
	display: inline-flex;
}

.add-product-content {
	display: inline-flex;
	margin-top: 0.2em;
}

hr {
	width: 99%;
}

.add-category {
	top: -0.3em;
	margin-left: 1em;
	float: right;
	margin-right: 2em;
}

.add-category-icon {
	display: inline-flex;
}

.add-category-content {
	display: inline-flex;
}