
<div *ngIf="changeOrAdd">
	<h3>Categorie aanpassen</h3>
</div>
<div *ngIf="!changeOrAdd">
	<h3>Nieuwe categorie toevoegen</h3>
</div>

<div mat-dialog-content>
	<mat-form-field>
		<input matInput placeholder="Categorienaam" type="text" [(ngModel)]="categoryName" />
	</mat-form-field>
</div>
<div mat-dialog-actions>
	<div *ngIf="changeOrAdd">
		<button mat-button [mat-dialog-close]="categoryName" class="mat-primary" cdkFocusInitial>Aanpassen</button>
	</div>
	<div *ngIf="!changeOrAdd">
		<button mat-button [mat-dialog-close]="categoryName" class="mat-primary" cdkFocusInitial>Toevoegen</button>
	</div>
	<button mat-button (click)="onNoClick()" class="mat-warn">Annuleren</button>
</div>